/* 
    Created on : 28-mar-2017, 11.40.59
    Author     : SilviaFrau
*/

/*sfondo e font*/
body{
    background-color: #A38E94/*#3E96C9*/;
    font: 17px/25px "Open Sans", Arial, sans-serif;   
}

h1#title{
    color: #111111;
    font: 50px/55px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
    margin-top:20px !important;
    margin:0px;
    display:block;
    position:relative;
    top:70px;
    left:0;
    text-decoration: underline;
}

h1#title3{
    color: #111111;
    font: 35px/40px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
    /*margin-top:20px !important;*/
    margin:0px;
    display:block;
   position:relative;
    /*top:70px;*/
    left:0;
    text-decoration: underline;
    
    
}
/* pagina bacheca, menù orizzontale*/
h1{
    border-right:3px solid #111111 !important;
    padding-right: 15px !important;
    
}

h2#title2{
    padding: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 25px/40px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
    margin:0px;
    display:block;
    top:0;
    left:2px;
    border-style:double;
    
}

h3{
    padding-top: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 25px/40px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
}

/*
a:link{
    font-size: 15px;
    text-decoration: none;
    color: #111111;
    font: 25px/30px "Palatino Linotype", Palatino, sans-serif;
}

a:visited.linkEffettivi{
    font-size: 20px;
    text-decoration: none;
    color: #5D3E47;
    font: 25px/30px "Palatino Linotype", Palatino, sans-serif;
}

a:hover{
    font-weight: bold;
    color: #64426A;
}

nav ol, nav li{
    list-style-type: none;
    display: inline-block;
    
}


nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #111111;
}

nav li:last-child{
    border-right: 0px solid #111111;
}

nav li.active{
    text-decoration: underline;
}
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3667C;
}
/*bau*/
li {
    float: left;
}

li a.linkEffettivi {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.linkEffettivi {
    background-color: #64426A;
}

/*bau*/
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    top:0.5%;
    position:fixed;
    left:15%;
    z-index: 1;
    font-weight: bold;
    font: 25px/30px "Palatino Linotype", Palatino, sans-serif;
}
a:visited.linkEffettivi{
    color: #FCE0D7;
}
/*titolo Nerdbook pag.Login*/
#title{
    text-align: center;

    
}

/*grafica form della pagina di Login*/
#formLogin{
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    width: 500px;
    height: auto;
    border-bottom: 2px solid #704959;
    border-right: 2px solid #704959;
    position:relative;
    top: 120px;
    left:32%;
    margin-right:0;
    
}

/*sistemazione del fon e del ritorno carrello*/
#formLogin label:after{
    content: '\A';
    white-space: pre;
    font-size: large;
    
    
}
/* contenuto form e relativa grafica*/
#contentForm{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #5E3541;
    opacity: 0.8;
    padding-left:29.5%;
    margin: 0;
    
}

/* grafica etichette contenuto form*/
#contentForm label{
    font:25px/30px "Palatino Linotype", Palatino, sans-serif;
}

/*Nerbook nella pagina della bacheca, bisogna sistemare ancora il login dove title2 si riferisce invece a "Login"*/
#title2{
    display:block;
    position: fixed;
    
    top:1px;
    left:0px;
    margin:0;
    padding-right:99.8%;
    padding-left:0.5%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #B3667C;
    border-right:5px solid #111111;
}


/*Nerbook della pagina login, immagine decoro*/
h1#title::before{
    content: url('joystick.png');
    position:relative;
    right:5px;
    top:10px;
}

/*divBody delle pagine con menu orizzontale, bacheca */
#divBody1{
    position:relative;
    top:100px;
    padding-left: 190px;
    margin-left: 190px;
    border-left: 4px solid gray;
    overflow:hidden;
}

/*div ancora non implementato a sinistra in Bacheca*/
#Cercaamici{
    float:left;
    width:100px;
    margin:0px;
    padding: 1em;
    position:relative;
    top:100px;
}

/*poi devo modificare perchè non è responsive*/
#LogoutUser{
    padding-left: 600px;
    padding-top:15px;
}

#LogoutUser::before{
    content:url('profilo4.png');
    padding-right:10px;
    padding-top: 9px;
}