/* 
    Created on : 28-mar-2017, 11.40.59
    Author     : SilviaFrau
*/

/*sfondo e font*/
body{
    background-color: #A38E94/*#3E96C9*/;
    font: 17px/25px "Open Sans", Arial, sans-serif;   
}

#title h1{
    color: #111111;
    font: 45px/50px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
    margin-top:7% !important;
    margin-bottom: 3% !important;
    margin:0px;
    display:block;
    position:relative;
    left:0;
    text-decoration: underline;
}

/* pagina bacheca, menù orizzontale*/
h1{
    border-right:3px solid #111111 !important;
    padding-right: 15px !important;
    
}

h2#title2{
    padding: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 25px/40px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
    margin:0px;
    display:block;
    top:0;
    left:2px;
    border-style:double;
    
}

h3{
    padding-top: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 25px/40px "Palatino Linotype", Palatino, sans-serif;
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3667C;
}
/*bau*/
.li {
    float: left;
}

li a.linkEffettivi {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.linkEffettivi {
    background-color: #64426A;
}

nav li#active{
    background-color: #5E3541 !important;
}

/*bau*/
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    top:0.5%;
    position:fixed;
    left:15%;
    z-index: 1;
    font-weight: bold;
    font: 25px/30px "Palatino Linotype", Palatino, sans-serif;
}
a:visited.linkEffettivi{
    color: #FCE0D7;
}
/*titolo Nerdbook pag.Login*/
#title{
    text-align: center;

    
}

#logout{
    text-decoration: none;
    color:#111111;
    padding: 14px 16px;
}

#logout:hover{
    background-color: #64426A;
}

/*grafica form della pagina di Login*/
 #formLogin{
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    width: 500px;
    height: auto;
    border-bottom: 2px solid #704959;
    border-right: 2px solid #704959;
    position:relative;
    top: 70%;
    left:32%;
    margin-right:0;
    
}


#formProfilo{
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    border-bottom: 2px solid #704959;
    border-right: 2px solid #704959;
    position:relative;
    top: 0px;
    left:0px;
    width:550px;
    height:auto;
}
/*sistemazione del fon e del ritorno carrello*/
.form label:after{
    content: '\A';
    white-space: pre;
    font-size: large;
}


/* contenuto form e relativa grafica*/
#contentForm, #contentFormP{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #5E3541 !important;
    opacity: 0.8;
    padding-left:29.5%;
    margin: 0;
    
}

#contentFormP{
    padding-left:20% !important;
}

/* grafica etichette contenuto form*/
#contentForm label{
    font:25px/30px "Palatino Linotype", Palatino, sans-serif;
}

#contentFormP label{
    font:25px/30px "Palatino Linotype", Palatino, sans-serif;
}

.form{
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
}

/*Nerbook nella pagina della bacheca, bisogna sistemare ancora il login dove title2 si riferisce invece a "Login"*/
#title2{
    display:block;
    position: fixed;
    
    top:1px;
    left:0px;
    margin:0;
    padding-right:99.8%;
    padding-left:0.5%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #B3667C;
    border-right:5px solid #111111;
}


/*Nerbook della pagina login, immagine decoro*/
h1#title::before{
    content: url('joystick.png');
    position:relative;
    right:5px;
    top:10px;
}

/*divBody delle pagine con menu orizzontale, bacheca */
#divBody1{
    position:relative;
    top:100px;
    padding-left: 190px;
    margin-left: 190px;
    border-left: 4px solid gray;
    overflow:hidden;
}

/*div ancora non implementato a sinistra in Bacheca*/
#Cercaamici{
    float:left;
    width:100px;
    margin:0px;
    padding: 1em;
    position:relative;
    top:100px;
}

/*poi devo modificare perchè non è responsive*/
#LogoutUser{
    float:right;
    position:relative;
    width:350px;
    margin-left: 300px;
    padding-top:15px;
}

.Post{
    background-color: #F6D2D6;
    word-wrap:break-word;
    width:60%;
    padding: 5px;
    margin-bottom: 10px;
    border-right: 2px solid #FF9EB5;
    border-bottom: 2px solid #FF9EB5;
}

.nome{
    font-weight: bold;
    font: 20px/25px "Palatino Linotype", Palatino, sans-serif;
    color: #7D2630;
    text-decoration: underline ;
    position:absolute;
    left:25%;
    
    
}

.imgProf{
    width:60px;
    height: auto;
    overflow:hidden;
    position:relative;
    left:5px;
    top:5px;
}

.utente{
    border-bottom: 2px solid #90575E;
    border-right: 2px solid #90575E;
    background-color: #C3767F;
}

#submit{
    width:26%;
    height:20%;
    margin-top:2%;
    margin-left: 16%;
    background-color: #FF9EB5;
    border-bottom-color:#7D6168;
    border-right-color:#7D6168;
    border-top-color: #F6D2D6;
    border-left-color: #F6D2D6;
    color: #111111;
    border-radius:10px;
    font: 15px/20px "Palatino Linotype", Palatino, sans-serif;
}

.imput{
    width:59%;
}

#contentForm input:focus{
   outline: none;
   border-color: #CC4D78;
   box-shadow: 0 0 10px #CC4D78;
}

#contentFormP input:focus{
   outline: none;
   border-color: #CC4D78;
   box-shadow: 0 0 10px #CC4D78;
}

#contentFormP textArea:focus{
   outline: none;
   border-color: #CC4D78;
   box-shadow: 0 0 10px #CC4D78;
}



.linkdiversi{
    color: black;
    font: 20px/25px "Palatino Linotype", Palatino, sans-serif;
}

.linkdiversi:hover{
    color: #64426A;
    font: 25px/30px "Palatino Linotype", Palatino, sans-serif;
}

.linkdiversi:visited{
    color: #7D2630;
    font: 20px/25px "Palatino Linotype", Palatino, sans-serif;
}

#sottotitolo, h3{
    color: #111111;
    text-align: center;
    font:  "Palatino Linotype", Palatino, sans-serif;
    margin: 0px;
    
}

#subtitle{
    position: relative;
    top:0px;
}

p{
    font: 20px/25px "Palatino Linotype", Palatino, sans-serif;
}
/****************REGOLE***************/

/*immagine decorativa che indica il logout */
#LogoutUser::before{
    content:url('profilo4.png');
    padding-right:10px;
    padding-top: 9px;
}

#contentFormP{
    background: url('nerd.png') no-repeat right bottom;
    border-bottom: 2px solid #C3767F;
    border-right: 2px solid #C3767F;
}

#contentForm{
    background: url('nerd6.png') no-repeat left bottom;
    border-bottom: 2px solid #C3767F;
    border-right: 2px solid #C3767F;
    
}

#title h1:before{
    content: url('joystick.png');
    top:10px;
    right:8px;
    position:relative;
}

